.Cadastro-inputs{
    height: 5vh;
    width: 23vw;
    border: 3px solid rgba(194, 133, 12, 1);
    border-radius: 5px;
}

.Cadastro-inputs-select{
    height: 6vh;
    width: 23.5vw;
    border: 3px solid rgba(194, 133, 12, 1);
    border-radius: 5px;
}

h1{
    text-align: center;
    padding-top: 2vh;
}

p{
    text-align: center;
}

form span{
    display: block;
    position: relative;
    width: 50%;
    height: 1.5vh;
    left: 25%;
    background: rgb(139, 168, 160);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-products {
    display: grid;
    justify-content: space-around;
    justify-items: start;
}

.container-products p{
    font-size: 10px;
}

.for-acad{ 
    display: flex;
    align-items: center;
}

input{
    padding-left: 1vw;
}

select{
    padding-left: 1vw;
}
.form-btn-cadastro {
    height: 7vh;
    width: 15vw;
    border: solid 1px black;
    background-color: rgb(89, 148, 132);
    color: white;
    border-radius: 30px;
    margin-left: 42.5%;
    margin-bottom: 5vh;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.form-btn-cadastro:hover{
    animation: pulse 1s ease-in-out ;
  }
  
  @keyframes pulse {
    50% {
      box-shadow: 0 0 10px rgb(89, 148, 132);
      transform: scale(1.05);
    }
  }

  