.Cadastro-inputs{
    height: 5vh;
    width: 23vw;
    border: 3px solid rgba(194, 133, 12, 1);
    border-radius: 5px;
}

.Cadastro-inputs-select{
    height: 6vh;
    width: 24.5vw;
    border: 3px solid rgba(194, 133, 12, 1);
    border-radius: 5px;
}

.Cadastro h1{
    text-align: center;
    padding-top: 2vh;
}

.Cadastro p{
    text-align: center;
}

.Cadastro form span{
    display: block;
    position: relative;
    width: 50%;
    height: 1.5vh;
    left: 25%;
    background: rgb(139, 168, 160);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-products {
    display: grid;
    justify-content: space-around;
    justify-items: start;
}

.container-products p{
    font-size: 10px;
}

.for-acad{ 
    display: flex;
    align-items: center;
}

.Cadastro input{
    padding-left: 1vw;
}

.Cadastro select{
    padding-left: 1vw;
}

.btn-enviar {
    display: flex;
    justify-content: center;
    margin: 5vh;
}

.button-real {
    background: rgb(89, 148, 132); /* Fundo semitransparente */
    color: white; /* Texto branco */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borda semitransparente */
    padding: 12px 24px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.2s ease; /* Transição suave */
  }
  
  /* Efeito de pressionar */
  .button-real:active {
    transform: translateY(4px); /* Move o botão para baixo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Sombra mais sutil ao ser pressionado */
  }
  
  /* Efeito de hover */
  .button-real:hover {
    background: rgb(4, 59, 45); /* Fundo semitransparente */
  }
  
  /* Estilo de foco */
  .button-real:focus {
    outline: none; /* Remove a borda padrão de foco */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2); /* Brilho ao redor no foco */
  }

  .erro {
    display: flex;
    justify-content: center;
    color: rgb(230, 14, 14);
  }