.consulta-pesquisa {
    display: flex;
    justify-content: flex-start;
    margin-left: 3vw;
}

.input-pesquisa {
    height: 5vh;
    width: 15vw;
    border: 3px solid rgba(194, 133, 12, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-left: 1vw;
    margin-top: 2vh;
}

#nome {
    width: 25vw;
}

/* .dados-pessoa {
    margin: 2vw;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 2px solid #00000094;
    background: tomato;
    padding: 1vh;
}

.btn-pessoa {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: baseline;
    background: inherit; /* Herda a cor de fundo de .dados-pessoa 
    }

.btn-pessoa h2, .btn-pessoa p {
    background: transparent; /* Remove qualquer fundo adicional, se necessário 
} */

.user-container {
    margin: 20px auto; /* Margem superior/inferior e centralizado horizontalmente */
    display: flex;
    flex-direction: column;
    gap: 2vh; /* Espaçamento entre os botões */
    padding: 0 40px; /* Espaçamento lateral */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
    width: 100%; /* Garante que ocupe toda a largura disponível até max-width */
}

  
  .btn-pessoa {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 2rem;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border: 1px solid rgba(194, 133, 12, 1);
    text-align: left;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }



  .btn-pessoa h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: initial;
    
    
  }
  
  .btn-pessoa p {
    margin: 0;
    background-color: initial;
    font-size: 1.1rem;

    
    
  }
  
  .btn-pessoa strong {
    background-color: initial;
    color: #020200; /* Dourado para destaque */
  }

  .btn-pessoa:hover {
    background-color: #C2850C73;
    transform: scale(1.02); /* Efeito leve de zoom */
    color: rgb(255, 255, 255);
  }

  /* Estilos para Vulnerável */
.vulneravel {
    color: #e60e0e; /* Cor do texto */
    background-color: aqua;
 
  }
  
  /* Estilos para Não Vulnerável */
  .nao-vulneravel {
    color: #0cec17; /* Cor do texto */
    
  }
  

    



