.consulta-pesquisa {
  display: flex;
  margin: 4vh 3vw;
  padding: 0 25px;
  box-sizing: border-box;
  width: 95%;
  justify-content: center;
  align-items: baseline;
}

.input-pesquisa {
  height: 5vh;
  width: 15vw;
  border: 3px solid rgba(194, 133, 12, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-left: 1vw;
  margin-top: 2vh;
  height: 5vh;
  width: 15vw;
  border: 3px solid rgba(194, 133, 12, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 0px 1vw;
  margin-top: 2vh;
}

#nome {
  width: 25vw;
}

/* Container principal */
.user-container {
  margin: 20px auto; /* Margem superior/inferior e centralizado horizontalmente */
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a linha de baixo quando não há espaço suficiente */
  gap: 2vh; /* Espaçamento entre os botões */
  padding: 0 40px; /* Espaçamento lateral */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  width: 90%; /* Garante que ocupe toda a largura disponível até max-width */
}

/* Estilo dos botões */
.btn-pessoa {
  background-color: rgba(89, 148, 132, 0.57);
  color: black;
  border: none;
  padding: 2rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* A largura será ajustada de acordo com o espaço disponível */
  border: 1px solid rgb(89, 148, 132);
  text-align: left;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  backdrop-filter: blur(15px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Ajustar a largura dos botões para se adaptarem ao container */
.btn-pessoa {
  flex: 1 1 calc(33.333% - 2vh); /* Ajuste a porcentagem conforme necessário para o layout desejado */
  max-width: calc(33.333% - 2vh); /* Ajuste a porcentagem conforme necessário para o layout desejado */
}

/* Estilo do cabeçalho dentro do botão */
.btn-pessoa h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: initial;
}

/* Estilo dos parágrafos dentro do botão */
.btn-pessoa p {
  margin: 0;
  background-color: initial;
  font-size: 1.1rem;
}

/* Estilo do texto em negrito dentro do botão */
.btn-pessoa strong {
  background-color: initial;
  color: #020200; /* Dourado para destaque */
}

/* Efeito de hover no botão */
.btn-pessoa:hover {
  background-color: rgb(4, 51, 38);
  transform: scale(1.05); /* Efeito leve de zoom */
  color: rgb(255, 255, 255);
}

/* Estilos para Vulnerável */
.vulneravel {
  color: #cb2020a4;
}

/* Estilos para Não Vulnerável */
.nao-vulneravel {
  color: #248529bf; /* Cor do texto */
}

/* Estilo do background para .vulneravel */
.vulneravel .div-vul {
  background-color: #CB202033; 
  padding: 0.3rem; 
  border-radius: 4px;
  display: inline-block; 
}

/* Estilo do background para .nao-vulneravel */
.nao-vulneravel .div-vul {
  background-color: #24852933; 
  padding: 0.3rem; 
  border-radius: 4px;
  display: inline-block; 
  white-space: nowrap; 
}

.Consulta-title{
  display: flex;
  justify-content: center;
}