/* Container principal */
.importCsv {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%; /* Ampliado para ocupar mais largura da página */
    max-width: 1200px; /* Largura máxima */
    margin: auto;
}

/* Título */
.header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

/* Container para upload e botão */
.upload-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo do input de arquivo */
.file-input {
    display: none;
}

/* Estilo do label associado ao input */
.file-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745; /* Cor verde */
    border: 1px solid #28a745; /* Cor verde */
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.file-label:hover {
    background-color: #218838; /* Tom mais escuro de verde */
    border-color: #218838; /* Tom mais escuro de verde */
}

/* Estilo do botão */
.btn-import {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: #28a745; /* Cor verde */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 20px;
}

.btn-import:hover {
    background: #218838; /* Tom mais escuro de verde */
}

.btn-import:active {
    transform: translateY(2px);
}

/* Container da tabela */
.table-container {
    width: 100%;
    overflow-x: auto; /* Adiciona rolagem horizontal quando necessário */
}

/* Estilo da tabela */
.importTabela {
    width: 100%;
    min-width: 1200px; /* Largura mínima para acomodar mais colunas */
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    max-height: 400px; /* Define a altura máxima da tabela para mostrar no máximo 10 linhas */
    overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
}

.importTabela th,
.importTabela td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    white-space: nowrap; /* Impede a quebra de linha dentro das células */
}

.importTabela th {
    background-color: #28a745; /* Cor verde */
    color: #fff;
    font-weight: 600;
}

.importTabela tr:nth-child(even) {
    background-color: #f9f9f9;
}

.importTabela tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .importTabela th,
    .importTabela td {
        display: block;
        width: 100%;
    }

    .importTabela thead {
        display: none;
    }

    .importTabela tr {
        margin-bottom: 10px;
        display: block;
    }

    .importTabela td {
        text-align: right;
        position: relative;
        padding-left: 50%;
        white-space: normal;
    }

    .importTabela td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
    }
}
