.importCsv {
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.importTabela {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Garante que a tabela use largura fixa */
}

.importTabela th, .importTabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona reticências para texto longo */
    white-space: nowrap; /* Impede que o texto se quebre */
}

.importTabela th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.importTabela tr:nth-child(even) {
    background-color: #f9f9f9;
}

.importTabela tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .importTabela th, .importTabela td {
        display: block;
        width: 100%;
    }

    .importTabela thead {
        display: none;
    }

    .importTabela tr {
        margin-bottom: 10px;
        display: block;
    }

    .importTabela td {
        text-align: right;
        position: relative;
        padding-left: 50%;
        white-space: normal;
    }

    .importTabela td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
    }
}
