li {
    list-style-type: none;
}

.Nav-img {
    height: 10vh;
}

.Nav-div {
    display: flex;
    text-decoration: none;
    align-items: center;
}


.Nav-div-link {
    padding: 1vw;
    list-style-type: none;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.Nav-div-link:hover {
    color: rgba(89, 148, 132, 1);
}

.Nav-div-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgba(89, 148, 132, 1);
    transition: all 0.3s ease-out;
}

.Nav-div-link:hover::after {
    width: 100%;
}

.Nav-button-fontsize {
    border: none;
    cursor: pointer;
    height: 4vh;
    width: 4vh;
    margin: 1vh;
    border-radius: 15px;
}

.Nav-button-fontsize:hover {
    background-color: rgb(89, 148, 132);
    transition: all 0.3s ease;
}

.Nav-button-perfil {
    border: none;
    border-radius: 20px;
    background-color: rgb(89, 148, 132);
    color: white;
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    padding: 2vh;
}