
.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}


.card {
  background-color: white;
  border-radius: 15px; 
  overflow: hidden;
  width: 250px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

.card-header {
  
  color: rgb(89, 148, 132);
  padding: 20px 0;
  font-size: 2.5rem;
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  text-align: center; 
  
}

.card-header h1{
  background: none;
}

.card:hover {
  transform: translateY(-10px); 
}

.card-body {
  padding: 20px;
}

.card-body p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }
}
  
  